.app-wrapper {
  max-width: calc(768px + 16px * 2);
  margin: 0 auto;
  display: flex;
  min-height: 100%;
  padding: 0 16px;
  flex-direction: column;


  &.mozillian-theme {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif !important;

    h1, h2, h3 {
      color: #2980b9;
    }

    label, p {
      color: #e67e22;
    }

    a {
      color: #f39c12;
    }
  }
}